{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if page == 'register' %}Тіркелу{% else %}Кіру{% endif %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <h1>{% if page == 'register' %}Тіркелу беті{% else %}Кіру беті{% endif %}</h1>

    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if page == 'register' %}
      <div>
        <input type="text" placeholder="Логин" name="username" required />
      </div>
      <div>
        <input type="password" placeholder="Құпия сөз" name="password" required />
      </div>
      <div>
        <input type="password" placeholder="Құпия сөзді растаңыз" name="password_confirm" required />
      </div>
      <div>
        <button type="submit">Тіркелу</button>
        <a href="?page=login">Кіру</a>
      </div>
    {% else %}
      <div>
        <input type="text" placeholder="Логин" name="login" required />
      </div>
      <div>
        <input type="password" placeholder="Құпия сөз" name="password" required />
      </div>
      <div>
        <button type="submit">Кіру</button>
        <a href="#">Құпия сөзді ұмыттым?</a>
        <a href="?page=register">Тіркелу</a>
      </div>
    {% endif %}
  </form>
</div>
</body>
</html>
